<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta name="author" content="Lea Rosema"/><meta name="keywords" content="Eleventy, Static Site Generator"/><link rel="stylesheet" href="prism/prism.css"/><link rel="stylesheet" href="css/index.css"/><title>Eleventy in Eleven Minutes</title></head><body><main><section class="slide" id="slide_1" tabindex="-1"><h1>Eleventy in 11 minutes</h1>
<p>I haven't managed to do it in 11 slides</p>
</section><section class="slide" id="slide_2" tabindex="-1">
<h1>Hi! I'm Lea Rosema</h1>
<ul>
<li>Junior Frontend Developer at S2</li>
<li>Digital artist, addicted to <a target="_blank" rel="noopener noreferer" href="https://codepen.io">Codepen</a></li>
<li><a target="_blank" rel="noopener noreferer" href="https://lea.codes/">https://lea.codes/</a></li>
<li><a target="_blank" rel="noopener noreferer" href="https://codepen.io/terabaud/">https://codepen.io/terabaud/</a></li>
<li><a target="_blank" rel="noopener noreferer" href="https://twitter.com/terabaud">https://twitter.com/terabaud</a></li>
<li><a target="_blank" rel="noopener noreferer" href="https://terabaud.github.io/eleventy-talk/">https://terabaud.github.io/eleventy-talk/</a></li>
</ul>
</section><section class="slide" id="slide_3" tabindex="-1">
<h1>What is Eleventy?</h1>
<ul>
<li>it's a static site generator</li>
<li>creates a website from your content :D</li>
</ul>
</section><section class="slide" id="slide_4" tabindex="-1">
<h1>The minimal example</h1>
<pre><code class="language-sh">echo &quot;# Hello World!&quot; &gt; index.md
npx @11ty/eleventy
</code></pre>
<p>but let's do something more exciting :)</p>
</section><section class="slide" id="slide_5" tabindex="-1">
<h1>Create a new project</h1>
<pre><code class="language-sh">mkdir my-awesome-site
cd my-awesome-site
git config --global init.defaultBranch main
git init
npm init -y
npm i @11ty/eleventy -D
</code></pre>
</section><section class="slide" id="slide_6" tabindex="-1">
<h1><code>.gitignore</code></h1>
<pre><code class="language-sh">node_modules
.DS_Store
Thumbs.db

# Eleventy output folder
public
</code></pre>
</section><section class="slide" id="slide_7" tabindex="-1">
<h1><code>.eleventy.js</code> Config</h1>
<pre><code class="language-sh">module.exports = (config) =&gt; {
  // specify folders to be copied to the output folder
  config.addPassthroughCopy('./src/js/');
  config.addPassthroughCopy('./src/css/');

  return {
    dir: {
      input: 'src',    // default: '.'
      output: 'public' // default: '_site'
    }
  }
};
</code></pre>
</section><section class="slide" id="slide_8" tabindex="-1">
<h1><code>package.json</code></h1>
<pre><code class="language-js">{
  &quot;scripts&quot;: {
    &quot;start&quot;: &quot;eleventy --serve&quot;,
    &quot;build&quot;: &quot;eleventy&quot;
  }
}
</code></pre>
</section><section class="slide" id="slide_9" tabindex="-1">
<h1>Content: <code>src/index.md</code></h1>
<pre><code class="language-md">---
title: &quot;Hello world&quot;
---
# Hello World

Welcome to my awesome {{title}} site! 
</code></pre>
</section><section class="slide" id="slide_10" tabindex="-1">
<h1>Run and Build</h1>
<ul>
<li><code>npm start</code> -&gt; Development server</li>
<li><code>npm run build</code> -&gt; build it</li>
</ul>
</section><section class="slide" id="slide_11" tabindex="-1">
<h1>From markdown to paths</h1>
<p>For each markdown content file, eleventy creates a folder with an <code>index.html</code> for nice urls:</p>
<pre><code class="language-md">index.md            --&gt; /
about.md            --&gt; /about/
faq.md              --&gt; /faq/
blog/hello-world.md --&gt; /blog/hello-world/
</code></pre>
</section><section class="slide" id="slide_12" tabindex="-1">
<h1>Layout templates</h1>
<p><code>src/_includes/base.njk</code></p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;&lt;title&gt;{{ title }}&lt;/title&gt;&lt;/head&gt;
  &lt;body&gt;
    &lt;main&gt;
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    &lt;/main&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</section><section class="slide" id="slide_13" tabindex="-1">
<h1>Extending layouts</h1>
<pre><code class="language-html">{% extends &quot;base.njk&quot; %}

{% block content %}
  &lt;article class=&quot;article&quot;&gt;
    {{ content | safe }}
  &lt;/article&gt;
{% endblock %}
</code></pre>
</section><section class="slide" id="slide_14" tabindex="-1">
<h1>Includes</h1>
<p>You can include partial layouts anywhere(*)
in your njk or markdown files:</p>
<pre><code class="language-html">{% include 'header.njk' %}
</code></pre>
<p>*to make includes work from inside markdown
files, add <code>templateEngineOverride: njk,md</code> to the front matter</p>
</section><section class="slide" id="slide_15" tabindex="-1">
<h1>Everything about Nunjucks</h1>
<ul>
<li><a target="_blank" rel="noopener noreferer" href="https://mozilla.github.io/nunjucks/">https://mozilla.github.io/nunjucks/</a></li>
</ul>
<h2>Other supported formats:</h2>
<p><code>.html</code>, <code>.liquid</code>, <code>.hbs</code>, <code>.ejs</code>, <code>.haml</code>, <code>.pug</code></p>
</section><section class="slide" id="slide_16" tabindex="-1">
<h1>Providing data for your site</h1>
<ul>
<li>file specific: in the markdown's front matter</li>
<li>folder specific: add a json file to a content folder</li>
<li>globally <code>_data</code> directory: globally available</li>
<li><code>_data</code> supports <code>.js</code>, <code>.yaml</code>, <code>.json</code> files</li>
</ul>
</section><section class="slide" id="slide_17" tabindex="-1">
<h1><code>_data</code> example</h1>
<p><code>src/_data/nav.json</code></p>
<pre><code class="language-js">[
  {&quot;title&quot;: &quot;Home&quot;, &quot;url&quot;: &quot;/&quot;},
  {&quot;title&quot;: &quot;Blog&quot;, &quot;url&quot;: &quot;/blog/&quot;}
]
</code></pre>
</section><section class="slide" id="slide_18" tabindex="-1">
<h1><code>_data</code> example part 2</h1>
<p><code>src/_includes/nav.njk</code></p>
<pre><code class="language-html">&lt;nav&gt;
  &lt;ul&gt;
    {% for link in nav %}
      &lt;li&gt;
        &lt;a href=&quot;{{ link.url }}&quot;&gt;{{ link.title }}&lt;/a&gt;
      &lt;/li&gt;
    {% endfor %}
  &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>
</section><section class="slide" id="slide_19" tabindex="-1">
<h1><code>_data</code> javascript example</h1>
<p><code>_data/site.js</code></p>
<pre><code class="language-js">module.exports = {
  name: 'My awesome site',
  url: 'https://awesome.site/'
};
</code></pre>
<p>Can be used like this in the content:
<code>{{ site.name }}</code></p>
</section><section class="slide" id="slide_20" tabindex="-1">
<h1>Collections</h1>
<p>You can tag your content with a keyword and then iterate
through these via collections.</p>
<p>This is useful for auto-generating table of contents or
listing articles that are related to each other</p>
</section><section class="slide" id="slide_21" tabindex="-1">
<h1>Collections example</h1>
<p>In your src folder, add a <code>blog</code> folder with a bunch of markdown files.
Tag them as <code>posts</code>:</p>
<pre><code class="language-md">---
tags: posts
---
</code></pre>
</section><section class="slide" id="slide_22" tabindex="-1">
<h1>Collections example part 2</h1>
<p><code>index.md</code></p>
<pre><code class="language-md"># Blog

&lt;ul&gt;{% for post in collections.posts %}&lt;li&gt;
  &lt;a href=&quot;{{ post.url }}&quot;&gt;
    {{ post.date | date: '%Y-%m-%d' }}: {{ post.data.title }}
  &lt;/a&gt;
&lt;/li&gt;{% endfor %}&lt;/ul&gt;
</code></pre>
</section><section class="slide" id="slide_23" tabindex="-1">
<h1>Personal example projects</h1>
<ul>
<li><a target="_blank" rel="noopener noreferer" href="https://github.com/terabaud/terabaud-website">https://github.com/terabaud/terabaud-website</a></li>
<li><a target="_blank" rel="noopener noreferer" href="https://github.com/terabaud/lea-codes">httpd://github.com/terabaud/lea-codes</a></li>
</ul>
</section><section class="slide" id="slide_24" tabindex="-1">
<h1>Thank you 👩‍💻</h1>
<h2>Resources</h2>
<ul>
<li><a target="_blank" rel="noopener noreferer" href="https://11ty.dev/">https://11ty.dev/</a> - Official site</li>
<li><a target="_blank" rel="noopener noreferer" href="https://11ty.rocks/">https://11ty.rocks/</a> - Eleventy rocks</li>
<li><a target="_blank" rel="noopener noreferer" href="https://piccalil.li/course/learn-eleventy-from-scratch">https://piccalil.li/course/learn-eleventy-from-scratch</a> - in-depth course</li>
</ul>
</section></main><script src="prism/prism.js"></script><script src="scrolly.js"></script></body></html>