.slide {
  scroll-snap-align: start;
  max-width: 1000px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 8px;

  &:focus {
    outline: none;
  }
}

@media (min-width: 1000px) {
  .slide {
    margin: 0 auto;
  }
}