body {
  font-size: $size--400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: $ruby--100;
}

h1 {
  font-size: $size--600;
  line-height: 1.4;
  color: $papaya-whip--300;
}

h2 {
  font-size: $size--500;
  line-height: 1.3;
  color: $papaya-whip--400;
}

h3 {
  font-size: $size--400;
  line-height: 1.2;
}

h4 {
  font-size: $size--300;
  line-height: 1.2;
  color: $ruby--200;
}

h5 {
  font-size: $size--200;
  line-height: 1.2;
  color: $ruby--200;
}


code {
  color: $badass--100;
  font-size: 130%;
}

pre[class] {
  line-height: 1.1;

  code[class] {
    font-size: $size--300;

    &::selection {
      background: $grey--400;
      color: $white;
    }
  }
}

a {
  color: $cornflower--100;
  overflow-wrap: break-word;

  &:hover {
    text-decoration: none;
  }
}


@media (min-width: 768px) {
  body {
    font-size: $size--700;
  }

  h1 {
    font-size: $size--900;
  }

  h2 {
    font-size: $size--800;
  }

  h3 {
    font-size: $size--700;
  }

  h4 {
    font-size: $size--600;
  }

  h5 {
    font-size: $size--500;
  }

  pre[class] {
    code[class] {
      font-size: $size--500;
    }
  }

}
